{% extends 'base.html.twig' %}

{% block title %}Welcome to Concours Photo!{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1> Welcome to Concours Photo !</h1>
    <a href="{{ path('admin') }}">Se connecter</a>
</div>
{% endblock %}
