{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/index.css') }}">
{% endblock %}

{% block title %}Welcome to Concours Photo!{% endblock %}

{% block body %}
<div id="idMenuNav">
    <nav class="navbar">
        <ul>
            <a href="{{ path('admin') }}" class="right">Mon profil</a>
        </ul>
    </nav>
</div>
<h1 class="center"> Welcome to Concours Photo !</h1>
{% endblock %}
